* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

main {
  background-color: #e5eff5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  height: 80%;
  max-width: 312px;
  margin: 72px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 635px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container .join,
.container .suscribe,
.container .why-us {
  width: 100%;
  background-color: white;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 768px) {
  .container .join,
  .container .suscribe,
  .container .why-us {
    padding: 40px 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.container .join {
  height: 268px;
  font-weight: 700;
  border-radius: 10px 10px 0 0;
}

@media (min-width: 768px) {
  .container .join {
    height: 220px;
  }
}

.container .join .title {
  color: #2ab2af;
  font-size: 20px;
}

.container .join .sub-title {
  color: #c0df34;
}

.container .join .content {
  color: #98a6bd;
  line-height: 30px;
  font-weight: 400;
  font-size: 14px;
}

@media (min-width: 768px) {
  .container .join .content {
    max-width: 510px;
  }
}

.container .suscribe {
  height: 228px;
  background-color: #2ab2af;
  color: white;
}

@media (min-width: 768px) {
  .container .suscribe {
    width: 50%;
    height: 260px;
    border-radius: 0 0 0 10px;
  }
}

.container .suscribe .title {
  color: white;
  font-size: 18px;
}

.container .suscribe .price {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .suscribe .price span {
  color: #33cccc;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 700;
}

.container .suscribe .content {
  font-size: 14px;
  color: #e5eff5;
  font-weight: 400;
}

.container .suscribe button {
  width: 100%;
  background-color: #c0df34;
  border: none;
  height: 50px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px 0 rgba(22, 95, 94, 0.52);
          box-shadow: 0px 5px 10px 0 rgba(22, 95, 94, 0.52);
}

.container .suscribe button:hover {
  background-color: #33cccc;
}

.container .why-us {
  height: 228px;
  background-color: #33cccc;
  border-radius: 0 0 10px 10px;
}

@media (min-width: 768px) {
  .container .why-us {
    width: 50%;
    height: 260px;
    border-radius: 0 0 10px 0;
  }
}

.container .why-us .title {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.container .why-us .content {
  color: #e5eff5;
  line-height: 20px;
  max-width: 180px;
  font-size: 14px;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: #e5eff5;
  height: 50px;
}

.attribution a {
  color: #135352;
  text-decoration: none;
}
/*# sourceMappingURL=app.css.map */