* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

main {
  background-color: #e5eff5;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  height: 80%;
  width: 80%;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .join,
.container .suscribe,
.container .why-us {
  width: 100%;
  background-color: white;
  height: 250px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .join .title,
.container .suscribe .title,
.container .why-us .title {
  color: #2ab2af;
  font-weight: 700;
}

.container .join .sub-title,
.container .suscribe .sub-title,
.container .why-us .sub-title {
  color: #c0df34;
  font-weight: 700;
  font-size: 14px;
}

.container .join .content,
.container .suscribe .content,
.container .why-us .content {
  color: #98a6bd;
  font-weight: 400;
  line-height: 30px;
  font-size: 13px;
}

.container .suscribe {
  height: 230px;
  background-color: #2ab2af;
  color: white;
}

.container .suscribe .title {
  color: white;
}

.container .suscribe .price {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .suscribe .price span {
  font-size: 16px;
  color: #e5eff5;
  margin-left: 15px;
}

.container .suscribe .content {
  color: #e5eff5;
  font-weight: 400;
  margin-top: -25px;
}

.container .suscribe button {
  width: 100%;
  background-color: #c0df34;
  border: none;
  height: 50px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px 0 rgba(22, 95, 94, 0.52);
          box-shadow: 0px 5px 10px 0 rgba(22, 95, 94, 0.52);
}

.container .suscribe button:hover {
  background-color: #98a6bd;
}

.container .why-us {
  padding: 20px 90px 20px 20px;
  height: 220px;
  background-color: #30cfcc;
}

.container .why-us .title {
  color: white;
}

.container .why-us .content {
  color: white;
  line-height: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-color: #e5eff5;
  height: 50px;
}

.attribution a {
  color: #135352;
}
/*# sourceMappingURL=app.css.map */